/* 
    Document   : mycss
    Created on : 11-Feb-2014, 20:12:30
    Author     : deemoshea
    Description:
        Purpose of the stylesheet follows.
*/
#inner-container {
   
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #EEEEEE;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 5px;
    float: none;
    margin: 0 0 1.5em !important;
    overflow: hidden;
    padding: 1em;
    width: auto; 
}

#home-container {
   
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #EEEEEE;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 5px;
    float: none;
    margin: 0 0 1.5em !important;
    overflow: hidden;
    padding: 1em;
    width: auto;
    height: 150px;
    text-align: center;
    
}
#upload-container {
   
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #EEEEEE;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 5px;
    float: none;
    margin: 0 0 1.5em !important;
    overflow: hidden;
    padding: 1em;
    width: auto; 
    text-align: center;
}

#heading-container {
   
    background: none repeat scroll 0 0 #FFFFFF;
    border: 4px solid #EEEEEE;
    box-shadow: 5px 5px 5px #888888;
    border-radius: 5px;
    float: none;
    margin: 0 0 1.5em !important;
    overflow: hidden;
    padding: 1em;
    width: auto;
    text-align: center;  
}


#container{
    margin: 30px;
}

body{
    background-color: #F8F8F8;
    margin:0px;
    
}

form{
  display: block;
}

root { 
    display: block;
}

#eir-image{
float:left;
width:110px;
height:90px;
margin:5px;
margin-top: 25px;
}

#dit-image{
float:right;
width:110px;
height:90px;
margin:5px;
margin-top: 13px;
}


#eric-multi{
    
    padding-bottom: 40px;
}

.submissionfield{
    
    min-width: 70%;
    border: 1px solid #113B63;
    font-size: 1em;
    padding-left: 5px;
    height: 25px;
    line-height: 17px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    
}

.button {
	-moz-box-shadow: 0px 0px 0px 0px #bbdaf7;
	-webkit-box-shadow: 0px 0px 0px 0px #bbdaf7;
	box-shadow: 0px 0px 0px 0px #bbdaf7;
	background-color:#113B63;
	-webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
	text-indent:0;
	border:1px solid #113B63;
	display:inline-block;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:32px;
	line-height:30px;
	width: auto;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
        margin: 15px; 
}





/*Table for incoming Data Styling*/

#customers
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:500px;
text-align: center;
border-collapse:collapse;
margin: auto;
}
#customers td, #customers th 
{
font-size:1em;
border:1px solid #113B63;
padding:3px 7px 2px 7px;
}
#customers th 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#336699;
color:#ffffff;
text-align: center;
}
#customers tr.alt td 
{
color:#000000;
background-color:#B7CFE6;
}


